@media screen and (max-width: 991px)
{
    .navbar-nav  li.nav-item
    {
        margin: 15px;
        text-align: center;
    }

    .navbar-nav-bg
    {
        background-color: rgba(0,0,0,0.8);
    }

    .main .type
    {
        font-size: 40px;
    }

    .project-single
    {
        margin-bottom: 40px;
    }

    .about .img-fluid
    {
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 767px)
{
    .about .col-md-7
    {
        margin-top: 60px;
    }
}

@media screen and (max-width: 500px)
{
    .main .type
    {
        font-size: 24px;
    }
}
